<div class="modal-header border-bottom-0">
  <h6 class="modal-title" id="modal-basic-title">
    Settings
  </h6>
  <button type="button" class="close-modal" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #form="ngForm" (submit)="saveSettings()">
    <div class="form-group toggle-filter">
      <label>On/Off Filter:</label>
      <ng-toggle
        onColor="primary"
        onText="on"
        offColor="secondary"
        offText="off"
        size=""
        name="toggleFilter" 
        [(ngModel)]="toggleFilter"
      >
      </ng-toggle>
    </div>
    <div class="form-group">
      <div class="input-group align-items-center">
        <label for="select-frezon">Frozen Column:</label>
        <select name="frozenColumn" [(ngModel)]="frozenColumn" id="select-frezon" class="form-control">
          <option *ngFor="let option of arrayOptionFrozen; let i = index" [ngValue]="option.value">
            {{option.title}}
          </option>
        </select>
      </div>
    </div>
    <div class="e-footer-content d-flex justify-content-end mt-4">
      <button type="submit" [disabled]="form.invalid" class="e-control e-btn e-lib e-primary e-flat">Save</button
      ><button (click)="close()" type="button" class="e-control e-btn e-lib e-flat">Cancel</button>
    </div>
  </form>
</div>
  