<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{ columnTitle }}
    Column
  </h4>
  <button type="button" class="close-modal" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #form="ngForm" (submit)="saveColumn()">
    <div class="form-group">
      <div class="input-group">
        <input required placeholder="Column name" name="column" class="form-control" [(ngModel)]="columnName" />
      </div>
    </div>
    <div class="button-group">
      <button [disabled]="form.invalid" type="submit" class="button-submit btn btn-outline-primary">Save</button>
    </div>
  </form>
</div>
