<div class="modal-header border-bottom-0">
  <h6 class="modal-title" id="modal-basic-title">
    {{ columnTitle }}
    Column
  </h6>
  <button type="button" class="close-modal" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #form="ngForm" (submit)="saveColumn()">
    <div *ngIf="type === 'add'" class="form-group mb-3">
      <label class="text-header">Column Type</label>
      <ejs-dropdownlist
        (change)="onChangeColumnType($event)"
        id="ddlelement"
        #samples
        [dataSource]="columnTypeData"
        [value]="columnType"
        placeholder="Please choose column type"
      ></ejs-dropdownlist>
    </div>
    <div class="form-group">
      <div class="e-float-input e-control-wrapper e-valid-input">
        <input
          required
          name="column"
          class="form-control"
          [(ngModel)]="columnName"
          class="e-field e-defaultcell e-control e-textbox e-lib"
          type="text"
          value="3"
          style="text-align: Left"
          id="_gridcontroltaskID"
          name="taskID"
          e-mappinguid="grid-column1000"
          role="textbox"
          aria-labelledby="label__gridcontroltaskID"
        /><span class="e-float-line"></span
        ><label class="e-float-text e-label-top" id="label__gridcontroltaskID" for="_gridcontroltaskID"
          >Column Name</label
        >
      </div>
    </div>
    <div class="e-footer-content d-flex justify-content-end mt-4">
      <button type="submit" [disabled]="form.invalid" class="e-control e-btn e-lib e-primary e-flat">Save</button
      ><button (click)="close()" type="button" class="e-control e-btn e-lib e-flat">Cancel</button>
    </div>
  </form>
</div>
