<div *ngIf="!sortingType">
  <div class="modal-header border-bottom-0">
    <h6 class="modal-title" id="modal-basic-title">
      {{ columnTitle }}
      Column
    </h6>
    <button type="button" class="close-modal" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div *ngIf="type === 'add'" class="form-group mb-3">
        <label class="text-header">Column Data Type</label>
        <ejs-dropdownlist
          (change)="onChangeColumnType($event)"
          id="ddlelement"
          #samples
          [dataSource]="columnTypeData"
          [value]="columnType"
          placeholder="Please choose column type"
        ></ejs-dropdownlist>
      </div>

      <div *ngIf="columnType === 'dropdown'" class="dropdown-item-input">
        <label class="text-header">Dropdown item</label>
        <div>
          <div class="dropdown-item-input-field" *ngFor="let item of dropdownItem">
            <input type="text" [value]="item.name" (change)="dropDownItemChange($event, item.id)" />
            <a (click)="deleteDropDownItem(item.id)">-</a>
          </div>
          <button (click)="addDropdownItem()">+ dropdown item</button>
        </div>
      </div>

      <div style="margin-top: 1rem; margin-bottom: 1rem">
        <input
          type="checkbox"
          [checked]="hasDefaultValue"
          [disabled]="!allowChangeDefaultValue"
          (change)="hasDefaultValue = !hasDefaultValue"
        />
        <span style="margin-left: 0.5rem; color: #adadad; font-size: 0.8rem">Has default value</span>
      </div>

      <div *ngIf="hasDefaultValue" class="default-value-input">
        <label *ngIf="columnType">Default Value</label>
        <!-- TYPE = TEXT OR NUMBER -->
        <input
          *ngIf="columnType === 'text' || columnType === 'number'"
          [type]="columnType"
          class="e-input"
          [value]="defaultValue"
          (change)="defaultValueChange($event)"
        />
        <!-- TYPE = DATE -->
        <ejs-datepicker
          *ngIf="columnType === 'date'"
          [value]="defaultValue"
          [format]="'MM/dd/yyyy'"
          (valueChange)="defaultValueChange($event)"
        >
        </ejs-datepicker>
        <!-- TYPE = BOOLEAN -->
        <input
          *ngIf="columnType === 'boolean'"
          type="checkbox"
          [checked]="defaultValue"
          (change)="defaultValueChange($event)"
        />
        <!-- TYPE = DROPDOWN -->
        <ejs-dropdownlist
          *ngIf="columnType === 'dropdown'"
          placeholder="Choose default value"
          [dataSource]="dropDownItemString"
          (change)="defaultValueChange($event)"
          [value]="defaultValue"
        >
        </ejs-dropdownlist>
      </div>

      <div class="form-group">
        <div class="e-float-input e-control-wrapper e-valid-input">
          <input
            required
            name="column"
            style="text-align: Left"
            class="form-control e-field e-defaultcell e-control e-textbox e-lib"
            type="text"
            value="3"
            id="_gridcontroltaskID"
            name="taskID"
            e-mappinguid="grid-column1000"
            role="textbox"
            [(ngModel)]="columnName"
            aria-labelledby="label__gridcontroltaskID"
          /><span class="e-float-line"></span
          ><label class="e-float-text e-label-top" id="label__gridcontroltaskID" for="_gridcontroltaskID"
            >Column Name</label
          >
        </div>
      </div>

      <p style="margin: 0.5rem; color: red; font-size: 0.75rem" *ngIf="errorMsg">{{ errorMsg }}</p>

      <div class="e-footer-content d-flex justify-content-end mt-4">
        <button
          (click)="saveColumn()"
          [disabled]="form.invalid || !columnType"
          class="e-control e-btn e-lib e-primary e-flat"
        >
          Save</button
        ><button (click)="close()" type="button" class="e-control e-btn e-lib e-flat">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="sortingType">
  <div class="modal-header border-bottom-0">
    <h6 class="modal-title" id="modal-basic-title">
      {{ columnTitle }}
      Column
    </h6>
    <button type="button" class="close-modal" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- TODO: form multilsort -->
    <form novalidate>
      <div class="input-block">
        <div *ngFor="let col of cols">
          <input
            [checked]="col.isChecked"
            class="form-check-input"
            type="checkbox"
            name="{{ col.colName }}"
            [value]="col.colName"
            (change)="onCheckboxChange($event)"
          />
          <label class="form-check-label">
            {{ col.header }}
          </label>
        </div>
      </div>

      <button (click)="mutipleSorting()" class="e-control e-btn e-lib e-primary e-flat btn-save">Save</button>
      <button (click)="close()" type="button" class="e-control e-btn e-lib e-flat">Cancel</button>
    </form>
  </div>
</div>
