.button-group {
  display: flex;
  justify-content: right;
  .button-submit {
    margin-top: 10px;
  }
}

.btn-create {
  margin-bottom: 10px;
}

.close-modal {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
}

.text-header {
  display: block;
  font-size: 18px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 80%;
}
.text-header {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}
// form multi-sort
.modal-header {
  padding-bottom: 0;
}
.btn-save {
  padding-left: 0;
}
.form-check-input {
  margin-right: 10px;
}
.input-block {
  margin-bottom: 16px;
}

.dropdown-item-input {
  margin: 1rem 0 2rem 0;
  > div {
    display: flex;
    flex-direction: column;
    button {
      width: 200px;
      text-align: center;
      font-size: 0.85rem;

      outline: none;
      margin-top: 0.5rem;

      border: 1px dashed #919191;
      border-radius: 5px;
      padding: 0.1rem 1rem 0.2rem 0.5rem;
      background-color: transparent;
      transition: all 0.2s ease;
    }

    button:hover {
      border-color: #e3165b;
    }
  }

  .dropdown-item-input-field {
    width: fit-content;

    padding: 0;
    margin: 0.2rem 0rem;
    overflow: hidden;

    input {
      width: 200px;
      position: relative;

      border: 1px dashed #919191;
      border-radius: 5px;

      outline: none;

      font-size: 0.85rem;
      padding-left: 1rem;
      transition: all 0.2s ease;
    }

    input:focus {
      padding-left: 0rem;
      // margin-left: 1rem;

      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #e3165b;
    }

    input:focus:hover {
      cursor: text;
    }

    input:hover {
      cursor: pointer;
      border-color: #e3165b;
    }
    a {
      cursor: pointer;

      padding: 0 0.35rem;
      margin-left: 0.5rem;
      border: 1px solid #919191;
      border-radius: 100%;

      font-size: 0.75rem;
      color: #919191;

      background-color: transparent;
      transition: all 0.2s ease;
    }

    a:hover {
      color: red;
      border-color: red;
    }
  }
}

label {
  color: #adadad;
  display: block;
  width: fit-content;
  font-size: 0.8rem;
  transition: all 0.2s;
}

.default-value-input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.default-value-input:focus-within {
  label {
    color: #e3165b;
  }
}
