<label class="input-field-label" for="">{{ columnInfo.headerText }}</label>
<input
  *ngIf="inputType !== 'date'"
  [type]="inputType"
  class="e-input"
  [id]="columnInfo.headerText"
  [disabled]="columnInfo.allowEditing ? false : true"
  [value]="formControl.value"
  (change)="valueOnChange($event)"
  (keypress)="onInput($event)"
/>

<ejs-datepicker
  *ngIf="inputType === 'date'"
  [value]="formControl.value"
  [allowEdit]="false"
  [format]="'MM/dd/yyyy'"
  (change)="test($event)"
  (valueChange)="datePickerOnChange($event)"
>
</ejs-datepicker>
