<div>
  <div class="modal-header border-bottom-0">
    <h6 class="modal-title" id="modal-basic-title">Edit Column</h6>
  </div>
  <div class="modal-body">
    <!-- Column Name -->
    <div class="input-field">
      <label>Column-Name</label>
      <input
        type="text"
        class="e-input"
        [value]="getFormValue('headerText')"
        (change)="setFormValue($event.target.value, 'headerText')"
      />
    </div>
    <!-- data type -->
    <div class="input-field">
      <label>Data-Type</label>
      <ejs-dropdownlist
        (change)="dataTypeOnChange($event)"
        [dataSource]="columnTypeData"
        [value]="getFormValue('type')"
        placeholder="Choose datatype"
      >
      </ejs-dropdownlist>
    </div>

    <div *ngIf="getFormValue('type') === 'dropdown'" class="dropdown-item-input">
      <label class="text-header">Dropdown item</label>
      <div>
        <div class="dropdown-item-input-field" *ngFor="let item of dropDownDataTypeItem">
          <input type="text" [value]="item.name" (change)="dropDownItemChange($event, item.id)" />
          <a (click)="deleteDropDownItem(item.id)">-</a>
        </div>
        <button (click)="addDropdownItem()">+ dropdown item</button>
      </div>
    </div>
    <!-- 
    <div style="margin-top: 1rem; margin-bottom: 1rem">
      <input type="checkbox" [checked]="getFormValue('hasDefaultValue')"
        (change)="setFormValue(!getFormValue('hasDefaultValue'), 'hasDefaultValue')" />
      <span style="margin-left: 0.5rem; color: #adadad; font-size: 0.8rem">Has default value</span>
    </div> -->

    <div class="default-value-input">
      <label>Default-Value</label>
      <!-- TYPE = TEXT OR NUMBER -->
      <input
        *ngIf="getFormValue('type') === 'Text' || getFormValue('type') === 'Num'"
        [type]="getFormValue('type')"
        class="e-input"
        [value]="getFormValue('defaultValue')"
        (change)="setFormValue($event.target.value, 'defaultValue')"
      />
      <!-- TYPE = DATE -->
      <ejs-datepicker
        *ngIf="getFormValue('type') === 'Date'"
        [value]="getFormValue('defaultValue')"
        [allowEdit]="false"
        [format]="'MM/dd/yyyy'"
        (valueChange)="setFormValue($event, 'defaultValue')"
      >
      </ejs-datepicker>
      <!-- TYPE = BOOLEAN -->
      <input
        *ngIf="getFormValue('type') === 'Boolean'"
        type="checkbox"
        [checked]="getFormValue('defaultValue')"
        (change)="setFormValue($event.target.checked, 'defaultValue')"
      />
      <!-- TYPE = DROPDOWN -->
      <ejs-dropdownlist
        *ngIf="getFormValue('type') === 'DropDownList'"
        placeholder="Choose default value"
        [dataSource]="dropDownItemString"
        (change)="setFormValue($event.value, 'defaultValue')"
        [value]="getFormValue('defaultValue')"
      >
      </ejs-dropdownlist>
    </div>
    <!-- Minimum width -->
    <div class="input-field">
      <label>Minimum-Column-Width</label>
      <input
        type="number"
        class="e-input"
        min="10"
        [value]="getFormValue('minWidth')"
        (change)="setNumberValue($event, 'minWidth')"
      />
    </div>
    <!-- Font size -->
    <div class="input-field">
      <label>Font-size</label>
      <input
        type="number"
        class="e-input"
        min="10"
        [value]="getFormValue('fontSize')"
        (change)="setNumberValue($event, 'fontSize')"
      />
    </div>
    <!-- Font color -->
    <div class="input-field">
      <label>Font-color</label>
      <input
        readonly
        class="e-input"
        type="text"
        style="text-align: Left"
        [value]="getFormValue('color')"
        [colorPicker]="getFormValue('color')"
        (colorPickerChange)="setFormValue($event, 'color')"
        [style.background]="getFormValue('color')"
      />
    </div>
    <!-- Background color -->
    <div class="input-field">
      <label>Background-color</label>
      <input
        readonly
        class="e-input"
        [value]="getFormValue('backgroundColor')"
        [colorPicker]="getFormValue('backgroundColor')"
        (colorPickerChange)="setFormValue($event, 'backgroundColor')"
        [style.background]="getFormValue('backgroundColor')"
      />
    </div>
    <!-- Align type -->
    <div class="input-field">
      <label>Alignment</label>
      <ejs-dropdownlist
        (change)="('')"
        [dataSource]="alignType"
        [value]="getFormValue('textAlign')"
        (change)="setFormValue($event.value, 'textAlign')"
        placeholder="Choose align type"
      >
      </ejs-dropdownlist>
    </div>
    <!-- Text wrap -->
    <div class="input-field">
      <label>Text-wrap</label>
      <ejs-dropdownlist
        (change)="('')"
        [dataSource]="textWrapType"
        [value]="getFormValue('textWrap')"
        (change)="setFormValue($event.value, 'textWrap')"
        placeholder="Choose text wrap type"
      >
      </ejs-dropdownlist>
    </div>
  </div>

  <p class="error-msg" *ngIf="isError">{{ errMsg }}</p>

  <div class="modal-footer">
    <button (click)="save()">Save</button>
    <button (click)="close()">Cancel</button>
  </div>
</div>
