/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@syncfusion/ej2-base/styles/material.css";
@import "~@syncfusion/ej2-buttons/styles/material.css";
@import "~@syncfusion/ej2-calendars/styles/material.css";
@import "~@syncfusion/ej2-dropdowns/styles/material.css";
@import "~@syncfusion/ej2-inputs/styles/material.css";
@import "~@syncfusion/ej2-navigations/styles/material.css";
@import "~@syncfusion/ej2-popups/styles/material.css";
@import "~@syncfusion/ej2-splitbuttons/styles/material.css";
@import "~@syncfusion/ej2-grids/styles/material.css";
@import "~@syncfusion/ej2-treegrid/styles/material.css";

// Theme customization
@import "theme/theme";

.btn-primary {
  color: #fff;
  background-color: #e3165b;
  border-color: #e3165b;
}
.btn-primary:hover {
  color: #fff;
  background-color: #e3165b;
  border-color: #e3165b;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.15rem #e3165b78;
}
.ng-toggle-container,
.ng-toggle-animate {
  height: 25px;
  line-height: 25px;
}

#_gridcontrol_cmenu {
  #pastesibling,
  #pasteschild {
    display: none;
  }
}
#_gridcontrol_cmenu.showPasteOption {
  #pastesibling,
  #pasteschild {
    display: block;
  }
}

#_gridcontrol_cmenu {
  #dragAndDrop,
  #dragAndDrop {
    display: none;
  }
}

#_gridcontrol_cmenu.showDragDropOption {
  #dragAndDrop,
  #dragAndDrop {
    display: block;
  }
}

#_gridcontrol_cmenu {
  // #freeze,
  #freezeOff {
    display: none;
  }
  #freeze::before {
    font-family: "Font Awesome 5 Free";
    content: "\f14a";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 400;
    color: #757575;
  }
}

#_gridcontrol_cmenu.hideFreeze {
  #freeze {
    display: none;
  }
}

#_gridcontrol_cmenu.showFreezeContext {
  #freezeOff {
    display: block;
  }
  #freezeOff::before {
    font-family: "Font Awesome 5 Free";
    top: 4%;
    content: "\f0c8";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 400;
    color: #757575;
  }
}

#_gridcontrol_cmenu.hideFreezeContext {
  #freezeOff {
    display: none;
  }
}

// #freeze, #freezeOff {
//   display: none;
// }

html {
  overflow: hidden;
  user-select: none;
}

// .e-filter-custom{
//   position: relative;
// }

.e-headercelldiv {
  -webkit-user-select: none !important; /* Chrome all / Safari all */
  -moz-user-select: none !important; /* Firefox all */
  -ms-user-select: none !important;
}

.e-menu-item::before {
  left: 1.2rem;
  // top: 50%;
  width: 1rem;
  height: 1rem;
  // display:flex;
  align-items: center;
  position: absolute;
}

#add,
#delete,
#freeze,
#freezeOff,
#show-hide-column,
#filter,
#add-row,
#add-child-row,
#delete-row,
#copyrows,
#cutrows,
#pasteChild,
#pastesibling,
#multiSelect {
  align-items: center;
  position: relative;
}

// add column
#add::before {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #757575;
}
// delete columns
#delete::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2ed";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #757575;
}

// freeze on

// freeze off
// #freezeOff::before.checked-freeze {
//   font-family: "Font Awesome 5 Free";
//   top: 4%;
//   content: "\f14a";
//   display: inline-block;
//   padding-right: 3px;
//   vertical-align: middle;
//   font-weight: 400;
//   color: #757575;
// }

// show-hide-column
#show-hide-column::before {
  font-family: "Font Awesome 5 Free";
  left: 1.1rem;
  content: "\f06e";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #757575;
}

// add row
#add-row::before {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #757575;
}

// add-child-row
#add-child-row::before {
  font-family: "Font Awesome 5 Free";
  content: "\f055";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #757575;
}

// delete-row
#delete-row::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2ed";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #757575;
}
// copyrows
#copyrows::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c5";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #757575;
}

// cutrows
#cutrows::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c4";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #757575;
}

// pasteChild
#pasteschild::before,
#pastesibling::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0ea";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  color: #757575;
}

// multiSelect
#_gridcontrol_cmenu.multil-select-on {
  #multiSelect::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c8";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 400;
    color: #757575;
  }
}
#_gridcontrol_cmenu.multil-select-off {
  #multiSelect::before {
    font-family: "Font Awesome 5 Free";
    content: "\f14a";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 400;
    color: #757575;
  }
}

// filter

#_gridcontrol_cmenu.filter-on {
  #filter::before {
    font-family: "Font Awesome 5 Free";
    // left: 1.1rem;
    content: "\f0c8";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 400;
    color: #757575;
  }
}
#_gridcontrol_cmenu.filter-off {
  #filter::before {
    font-family: "Font Awesome 5 Free";
    left: 1.1rem;
    content: "\f14a";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 400;
    color: #757575;
  }
}
