<div class="container pb-5">
  <h1 class="text-center my-4">STDIO TREE GRID DEMO</h1>

  <ejs-treegrid
    #grid
    [dataSource]="data"
    [allowRowDragAndDrop]="true"
    [allowReordering]="true"
    [allowSelection]="true"
    [selectionSettings]="multiSelect"
    [allowResizing]="true"
    [treeColumnIndex]="1"
    [allowFiltering]="toggleFilter"
    [sortSettings]="sortSettings"
    [allowSorting]="true"
    childMapping="subtasks"
    [allowPaging]="true"
    [pageSettings]="pageSettings"
    [columns]="columns"
    [allowMultiSorting]="true"
    showColumnMenu="true"
    [columnMenuItems]="columnMenuItems"
    (columnMenuClick)="columnMenuClick($event)"
    [contextMenuItems]="contextMenuItems"
    (contextMenuClick)="contextMenuClick($event)"
    (rowDataBound)="rowBound($event)"
    [editSettings]="editSettings"
    [toolbar]="toolbarOptions"
    [frozenColumns]="frozenColumns"
    (toolbarClick)="toolbarClick($event)"
    (actionComplete)="actionComplete($event)"
  >
  </ejs-treegrid>
</div>
