.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}
.action-filter {
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: right;
  .button-submit {
    margin-top: 10px;
  }
}

.btn-create {
  margin-bottom: 10px;
}
.toggle-filter {
  margin-bottom: 20px;
  label {
    margin-right: 34px;
  }
  .span-checkbox {
    margin-left: 36px;
  }
}
.form-group {
  .input-group {
    label {
      margin-right: 16px;
    }
    select {
      border: none;
      border-bottom: 1px solid black;
      border-radius: 0;
    }
    select:focus {
      border: none;
      border-bottom: 1px solid #e3165b;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
.close-modal {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
}

:root {
  @for $i from 1 through 200 {
    --fontSize#{$i}: 12;
  }
}

@for $i from 1 through 200 {
  .e-grid .e-headercell.header-column-font#{$i} {
    background-color: red !important;
    font-size: attr(--fontSize#{$i});
  }
}

.e-headercell.header-column-font1 {
  background: red !important;
}

.e-grid .e-rowcell.header-column-font1 {
  background-color: #ecedee;
  color: "red";
  font-family: "Bell MT";
  font-size: 40px;
}

.e-grid .e-headercell.header-column-font1 {
  background-color: #2382c3;
  color: white;
  font-family: "Bell MT";
  font-size: 40px;
}

.fontsizebig {
  font-size: 100px !important;
}

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-1 {
  //fix the column being shrink after freeze
  .e-table {
    width: 100% !important;
  }

  .e-gridcontent .e-content {
    overflow-y: scroll;
  }

  //fix can't see the resize line on the header
  .e-headercell {
    .e-rhandler.e-rcursor {
      margin: 0px !important;
      height: 100% !important;
    }
  }

  //fix freeze column can't see the resize line on the header
  .e-frozenheader .e-headercell .e-rhandler {
    right: 0 !important;
  }

  //fix frozen column can't load on scroll or when unfrozen
  .e-frozencontent,
  .e-movablecontent {
    height: 101% !important;
    overflow: visible !important;
    table {
      height: 100% !important;
    }
  }
  .e-gridcontent .e-content {
    .e-table {
      height: 101% !important;
    }
  }

  .loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //fix frozen column can't load on scroll or when unfrozen
  .e-frozencontent,
  .e-movablecontent {
    height: 101% !important;
    overflow: visible !important;
    table {
      height: 100% !important;
    }
  }
  .e-gridcontent .e-content {
    .e-table {
      // height: 101% !important;// TODO : gây bug row bị quá to khi filter ít dữ liệu
      //TODO : recheck this
    }
  }
}
